<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Movie Selection</title>
  </head>
  <body>
    <p>Create a new room</p>
    <input id="create-room-button" type="button" value="Create">
    <br><br><br>
    <p>Join an existing room</p>
    <input id="join-room-input" type="text" size="25">
    <input id="join-room-button" type="button" value="Join">

    <script>
      document.querySelector('#join-room-input').focus();
      document.querySelector('#join-room-input').onkeyup = function(e) {
          if (e.keyCode === 13) {  // enter, return
              document.querySelector('#join-room-button').click();
          }
      };
      document.querySelector('#join-room-button').onclick = function(e) {
          var roomName = document.querySelector('#join-room-input').value;
	  console.log('trying to join an existing room called: ' + roomName);
          window.location.pathname = '/movie_selection/' + roomName + '/';
      };
    </script>
  </body>
</html>
