<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Movie Selection</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'movie_selection/base.css' %}">
  </head>
  <body>
    <h2>Create a new room</h2>
    <input id="create-room-btn" type="button" value="Create">
    <br><br><br>
    <h2>Join an existing room</h2>
    <input id="join-room-input" type="text" size="25">
    <input id="join-room-btn" type="button" value="Join">
    <script src="{% static 'movie_selection/index.js' %}"></script>
  </body>
</html>
