<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Movie Selection Room</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'movie_selection/base.css' %}">
  </head>
  <body>
    <h2>Room: {{ room_name }}</h2>

    <input id="nomination-input" type="text" size="50"><br>
    <input id="nomination-submit" type="button" value="Nominate">

    {{ room_name|json_script:"room-name" }}

    <h2>Movie Nominations</h2>

    <!-- {% include "movie_selection/nominations.html" with nominations="nominations" %} -->
    {% include "movie_selection/nominations.html" with nominations=nominations %}

    <script src="{% static 'movie_selection/room.js' %}"></script>
  </body>
</html>
